.bar {
    fill: grey
  }
  
  .bar:hover {
    fill: blue
  }
  
  #tooltip {
    display: absolute;
    opacity: 0;
    height: 100px;
    width: 100px;
    background-color: grey;
    border: 1px solid black;
  
  }